build/
out/
upstream/
target/
scratch/
native-checkpoints/
logs/
*.log
saves/
Save/
config/
shipofharkinian.json
imgui.ini
oot.o2r
oot-mq.o2r
*.z64
*.n64
*.v64
*.iso
*.xex
skate-data/assets/private/
private/
stock/
default_skater/
native-character/
*.pdb
*.obj
*.ilk
*.user
.vs/
__pycache__/
*.pyc
packages/
*.zip
*.exe
*.dll
game.json
skater.glb
skate-data/
